<div class="container mt-4">
  <div class="jumbotron text-center bg-light py-3">
    <h1 class="display-4">¡Bienvenido al Sistema de Fichas Técnicas!</h1>
  </div>

  <section id="about" class="my-5">
    <div class="row">
      <div class="col-md-5">
        <img
          src="../../../assets/img/fichas-tecnicas.png"
          alt="Brewing coffee"
          class="img-fluid rounded"
        />
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <div>
          <p>
            Nuestro sistema de fichas técnicas ha sido diseñado para brindarle acceso rápido a las características más importantes de cada cultivo, incluyendo su origen, especificaciones, condiciones de producción y estándares de calidad.
          </p>  
          <p>
            En este espacio encontrará información detallada, clara y confiable sobre nuestros productos y procesos agrícolas. 
          </p>                 
          <p>
            Lo invitamos a explorar nuestras fichas y conocer más sobre el valor y la calidad que ofrecemos en cada uno de nuestros productos dando click aquí: <a href="/productos">Fichas Técnicas</a>.
          </p>       
        </div>
      </div>
    </div>
  </section>
</div>
