<div class="container mt-4">

  
  <div class="card">
  <h5 class="card-header">¡Gestion de Productos!</h5>
  <div class="card-body text-end">
    <button class="btn btn-primary" disabled>
      <img src="../../../assets/img/nuevo_tipo_ficha.png" alt="agregarProducto" class="mi-imagen ms-3" routerLink="#"> 
      Agregar producto
    </button> 
  </div>
</div>
  <!-- <div class="jumbotron text-center bg-light py-2">
    <h1 class="display-4">¡Gestion de Productos!</h1>
  </div>
  <button class="btn btn-primary ">Agregar producto</button>    -->

  <section id="product" class="my-5">
    
<div class="row">
    @for (product of products; track product.id) {
    <div class="col-md-4 mb-4">
      <div class="card">
        <img [src]="product.image" class="card-img-top" [alt]="product.name">
        <div class="card-body text-center">
          <h5 class="card-title text-center">{{ product.name }}</h5>
          <button class="btn btn-primary" routerLink="#" disabled>Editar</button>       
          <button class="btn btn-primary" [routerLink]="['/productos', product.id, 'detalles']">Detalles</button>        
        </div>
      </div>
    </div>
    }
  </div>
  </section>
</div>
